#add-button {
    margin-top: 0.3em;
    border-radius: 0px;
    font-size: 12px;
    padding: 0.2em 0.8em;
}

#remove-button {
    margin: 0 0.5em;
    align-items: center;
    border-radius: 0px;
    font-size: 10px;
    padding: 0.2em 0.4em;
}

.subtopic-label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

#tag-subtopic-list {
    display: flex;
    flex-direction: column;
}

#tag-subtopic-entry {
    font-size: 18px;
    text-align: start;
    text-transform: capitalize;
    margin: 5px 0 5px 0;
    word-break: break-word; 
}