body {
    background-color: #FCFAEE;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 150px;
    row-gap: 50px;
    margin-top: 30px;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 30px;
}